@import "tailwindcss";

@theme {
  /** fonts */
  --font-sans: Figtree;
  --font-sans--0: ui-sans-serif;
  --font-sans--1: system-ui;
  --font-sans--2: sans-serif;
  --font-sans--3: "Apple Color Emoji";
  --font-sans--4: "Segoe UI Emoji";
  --font-sans--5: "Segoe UI Symbol";
  --font-sans--6: "Noto Color Emoji";
  --font-sans--length: 7;

  /* misc colors */
  --color-*: initial;
  --color-black: #000;
  --color-transparent: transparent;
  --color-white: #fff;

  /* gray, zinc */
  --color-gray-50: oklch(0.985 0 0);
  --color-gray-100: oklch(0.967 0.001 286.375);
  --color-gray-200: oklch(0.92 0.004 286.32);
  --color-gray-300: oklch(0.871 0.006 286.286);
  --color-gray-400: oklch(0.705 0.015 286.067);
  --color-gray-500: oklch(0.552 0.016 285.938);
  --color-gray-600: oklch(0.442 0.017 285.786);
  --color-gray-700: oklch(0.37 0.013 285.805);
  --color-gray-800: oklch(0.274 0.006 286.033);
  --color-gray-900: oklch(0.21 0.006 285.885);
  --color-gray-950: oklch(0.141 0.005 285.823);

  /* danger, rose */
  --color-danger-50: oklch(0.969 0.015 12.422);
  --color-danger-100: oklch(0.941 0.03 12.58);
  --color-danger-200: oklch(0.892 0.058 10.001);
  --color-danger-300: oklch(0.81 0.117 11.638);
  --color-danger-400: oklch(0.712 0.194 13.428);
  --color-danger-500: oklch(0.645 0.246 16.439);
  --color-danger-600: oklch(0.586 0.253 17.585);
  --color-danger-700: oklch(0.514 0.222 16.935);
  --color-danger-800: oklch(0.455 0.188 13.697);
  --color-danger-900: oklch(0.41 0.159 10.272);
  --color-danger-950: oklch(0.271 0.105 12.094);

  /* primary, indigo */
  --color-primary-50: oklch(0.962 0.018 272.314);
  --color-primary-100: oklch(0.93 0.034 272.788);
  --color-primary-200: oklch(0.87 0.065 274.039);
  --color-primary-300: oklch(0.785 0.115 274.713);
  --color-primary-400: oklch(0.673 0.182 276.935);
  --color-primary-500: oklch(0.585 0.233 277.117);
  --color-primary-600: oklch(0.511 0.262 276.966);
  --color-primary-700: oklch(0.457 0.24 277.023);
  --color-primary-800: oklch(0.398 0.195 277.366);
  --color-primary-900: oklch(0.359 0.144 278.697);
  --color-primary-950: oklch(0.257 0.09 281.288);
}
